# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.sublime-*

# Node.js dependencies and logs
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js / React / Web build artifacts
.next/
.next-*/
out/
build/
dist/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Coverage and cache
coverage/
.cache/
turbo/

# Env files (global and local)
.env
.env.local
.env.*.local
**/.env
**/.env.*

# React Native - Android/iOS build artifacts
android/app/build/
android/build/
ios/build/
ios/Pods/
*.keystore
*.jks

# Bundles and caches
*.bundle
.expo/
.expo-shared/
.expo-cache/
.react-native/

# Custom rules
# Ignore all files ending with -old (e.g. file-old.ts)
*-old*

# Build artifacts
*.pack

#ruby bundle
/frontend/mobile/vendor/
/frontend/mobile/vendor/bundle
**/vendor/

